[Unit]
Description=MQTT Bridge for Mycroft
After=pulseaudio.service

[Service]
ExecStart=/usr/local/bin/mqttmycroft.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
